
<head>
  <%= render 'layouts/header' %>
</head>

<body>
  <div class="container top-margin-big">
  <div class="row">
    <div class="col-sm-4 text-center">col 1</div>
    <div class="col-sm-4 text-center">col 2</div>
    <div class="col-sm-4 text-center">col 3</div>
  </div>
  <div class="btn"></div>
</div>

</body>