
  <nav class = "custom-bootstrap-nav"class = "navbar navbar-default">
    <div class = "container-fluid">
      <div class = "navbar-header">
        <a class = "navbar-brand" href ="#">Christmasland</a>
      </div>
      <ul class = "nav navbar-nav"
          <li><a href = "#">The List</a></li>
          <li><a href = "#">Storm</a></li>
      </ul>
    </div>
  </nav>
  #custom-bootstrap-menu.navbar-default .navbar-brand {
  font-size: 32px;
  }

  #custom-bootstrap-menu.navbar-default {
  font-size: 18px;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-width: 0px;
  }