
<!--  <nav class = "custom-bootstrap-nav"class = "navbar navbar-default">-->
<!--    <div class = "container-fluid">-->
<!--      <div class = "navbar-header navbar-brand">-->
<!--        <a class = "navbar-brand" href ="#">Home Page</a>-->
<!--      </div>-->
<!--      <ul class = "nav navbar-nav"-->
<!--          <li><a href = "#">The List</a></li>-->
<!--          <li><a href = "#">Storm</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </nav>-->

<div class="container">
  <div class="row">
    <div class="col">col 1</div>
    <div class="col">col 2</div>
    <div class="col">col 3</div>
  </div>

  <div class="btn"></div>
</div>